<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="container">
      <h1 class="mb-4">Blog Articles</h1>   
      <a href="/articles/new" class="btn btn-success"  style="margin-top:30px;">New Article</a>
     
      <%   article_schema.forEach((article_schema)=>{%>

        <div class="card" style="width: 136rem; margin-top: 50px; border: 1px dotted slategray;">
        
          <div class="card-body" style="margin-left:50px;">

              <h2  class="card-title">Title: <%= article_schema.title %> </h2>
              <div class="card-subtitle text-muted mb-2">
                <%= article_schema.creatTime.toLocaleDateString() %> 
              </div>
              <div class="card-text mb-2"><%= article_schema.description%></div>
              <div style="margin-bottom: 40px;">
              <a href=<%-  `/articles/${article_schema.id}`  %> class="btn btn-primary">Read More</a>
              <a href="" class="btn btn-primary">Edit</a>
              <a href="" class="btn btn-danger">Delete</a>
            </div>
        
            
             </div>
        </div>
      <%    })  %>
  </div> 
</body>
</htl>